<%= form_for(permission) do |f| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :document_id %>
    <%= f.text_field :document_id %>
  </div>

  <div class="field">
    <%= f.label :can_read %>
    <%= f.check_box :can_read %>
  </div>

  <div class="field">
    <%= f.label :can_write %>
    <%= f.check_box :can_write %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
