<div class="col-lg-4 col-md-4 col-sm-6 col-lg-push-4 col-md-push-4 col-sm-push-3 log-in-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">Please Log In</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-horizontal">
          <div class="form-group">
            <%= f.label :email, :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="col-sm-offset-3">
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                      <%= f.check_box :remember_me %> Remember Me
                <% end %>
                </div>
              </div>
            </div>
          <% end -%>
        </div>
        <div class="form-group">
          <%= f.submit 'Log In', :class => 'btn btn-success form-control' %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>