<!DOCTYPE html>
<html>
  <head>
    <title>Searchable Graph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-ng-app="graph.main">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sg-home-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" >YOLO</span>
        </div>
        <div class="collapse navbar-collapse" id="sg-home-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">
                Home
              </a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  href="javascript:void(0)"
              ><span class="caret"></span> File</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= documents_path %>">
                    <span class="glyphicon glyphicon-file"></span> New
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="glyphicon glyphicon-open-file"></span> Open
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 role="button"
                 aria-haspopup="true"
                 href="javascript:void(0)">
                <%= current_user.email %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                     <span class="glyphicon glyphicon-log-out"></span> Log Out
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% unless notice.nil? && alert.nil? -%>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end -%>
    <div class="container-fluid">
      <div id="main-body" class="panel panel-default">
        <div class="panel-heading">
          <div class="col-sm-6">
            <ul class="nav nav-tabs">
              <li class="active" role="presentation"><a href="">Graphical</a></li>
              <li role="presentation"><a href="">Data</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search"></span><span class="sr-only">Search Parameter</span></span>
              <input type="text" class="form-control" placeholder="Search" aria-describedby="#search-addon" />
            </div>
          </div>
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
