<!DOCTYPE html>
<html>
  <head>
    <title>Searchable Graph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% unless notice.nil? && alert.nil? -%>
        <div class="row">
          <div class="col-md-4 col-md-push-4">
            <% unless notice.nil? -%>
                <p class="alert alert-info">
                  <%= notice %>
                </p>
            <% end -%>
            <% unless alert.nil? -%>
                <p class="alert alert-danger">
                  <%= alert %>
                </p>
            <% end -%>
          </div>
        </div>
      <% end -%>
      <%= yield %>
    </div>
  </body>
</html>